@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn .5s ease-in-out; 
}

#projects-section {
  width: 100%;
  padding-bottom: 40px; 
}

.projects-header {
  color: #ff4c29;
  font-size: 25px;
  margin-bottom: 40px;
}

.projects-subsection {
  margin-top: 50px;
}

.project-cards-filter {
  margin-bottom: 40px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-option {
  margin: 0 15px;
}

.filter-option:hover {
  cursor: pointer;
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px; 
}

.project-card {
  flex: 1 1 calc(33.333% - 40px); 
  box-sizing: border-box;
  margin-bottom: 20px; 
  max-width: 300px; 
}