.email-container {
  height: 100vh;
  position: fixed;
  right: 0;
  width: 8.3%;
}

.email {
  display: block;
  color: #5a809d;
  text-decoration: none;
  text-align: center;
  transition: all 200ms ease;
  transform: rotate(270deg);
  position: absolute;
  bottom: 165px;
  width: 100%;
  font-size: 15px;
}

.email:hover {
  color: #ff4c29;
  font-size: 16px;
}

.email:visited {
  color: #ff4c29;
  text-decoration: none;
}