.about-card {
    height: calc(100vh - 80px);
    position: relative;
}

.about-info {
    padding: 15px 15px;
    position: absolute;
    top: 25%;
}

.about-info h2 {
    color: #FF4C29;
    margin-bottom: 15px;
}

.name {
    color: #5a809d;
    font-size: 40px;
    margin: 20px 0px;
}

.below-name {
    color: #3c5e78;
    font-size: 40px;
    margin: 20px 0px;
}

.about-text-sec {
    width: 50%;
}

.about-text {
    margin-top: 20px;
    color: #3c5e78;
}
