.content {
  text-align: center;
  margin: 15px auto;
  width: 250px;
  line-height: 20px;
  text-decoration: none;
}

.footer-a {
  color: #5a809d;
  text-decoration: none;
  transition: all 200ms ease;
}

.footer-a:hover {
  color: #ff4c29;
}
