.ls-container {
    position: fixed;
    background-color: aqua;
    height: 100vh;
    width: 8.3%;
}

.social-list {
    list-style: none;
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

