@media screen and (max-width: 400px) {
  .tab_div {
    display: none;
  }
}

.tab_div {
  width: 65%;
  transform: translateZ(0);
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

.tabs_menu {
  /*   background-color:blue; */
  padding-top: 1%;
  width: 20%;
  float: left;
}

ul.tabs {
  padding: 0;
}

#tab1,
#tab2,
#tab3,
#tab4,
#tab5 {
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

ul.tabs li {
  list-style-type: none;
  border-right: 2px solid #ff4c29;
  font-size: 18px;
  color: white;
  /*   transition: background-color 0.2s ease; */
}

/* ul.tabs li:hover {
    border-right: 2px solid #e1386c;
    background-color: rgba( 255, 155, 180, .9);
    font-weight: bold;
} */

#tab1_content,
#tab2_content,
#tab3_content,
#tab4_content,
#tab5_content {
  /*   background-color:red; */
  float: right;
  width: 70%;
  height: auto;
  padding-top: 1%;
  word-wrap: normal;
}

p {
  font-size: 16px;
  color: #ff4c29;
}

/* hover effect */

ul.tabs li {
  display: inline-block;
  position: relative;
  padding: 1em;
  cursor: pointer;
  background: #0a2a42;
  color: #3c5e78;
  z-index: 0;
}

ul.tabs li:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4a6a83;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.25s ease-out;
}

ul.tabs li:hover:before {
  transform: scaleX(1);
}

.active {
  background: #51738d;
}
