html,
body {
  margin: 0;
  padding: 0;
  background-color: #082032;
  font-family: monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2C394B; 
}

::-webkit-scrollbar-thumb {
  background: #334756;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF4C29; 
}


.rs {
  height:100vh;
  position: fixed;
  right: 0;

}