html, body {
  margin: 0;
  padding: 0;
  background-color: #082032;
  font-family: monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f3450; 
}

::-webkit-scrollbar-thumb {
  background: #0e3e62;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF4C29; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0e3e62 #0f3450; 
}

*::-moz-scrollbar-thumb:hover {
  background: #FF4C29 !important;
}

.center-section {
  padding-left: 10px;
  padding-right: 10px;
}

.rs {
  height:100vh;
  position: fixed;
  right: 0;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0; 
}

.app-about-section,
.app-about-me-section,
.app-work-section,
.app-projects-section,
.app-contact-section {
  width: 100%;
  margin: 40px 0; 
}

.app-about-section,
.app-about-me-section,
.app-work-section, 
.app-contact-section {
  min-height: 75vh;
}


@media (max-height: 920px) {
  .page-section {
    min-height: 100%; 
    margin: 100px auto 200px auto;
  }
}